[2017-05-04 16:19] Joe-Brady opened #5 "Add README explaining API usage"

[2017-05-04 16:19] Joe-Brady opened #6 "Add switch to toggle JSON pretty-print"

[2017-05-04 20:28] Joe-Brady opened #7 "Add Travis"

[2017-05-04 20:29] Joe-Brady opened #8 "Add eslint"

[2017-05-05 00:44] gdams commented on #5
We should also have a docs page being served a the webroot (api.adoptopenjdk.net)

[2017-05-05 08:27] #6 closed

[2017-05-05 08:30] Joe-Brady commented on #5
Where would we put, for example, an index.html file so that it was served as the webroot? I.e. I'm assuming on that Ubuntu machine, but not sure where exactly.

I'm thinking we could have a conversion of the README.md file into a .html file or something similar, so we only have to update it in one place.

[2017-05-09 08:55] #5 closed

[2017-05-09 09:00] Joe-Brady opened #10 "Make README available at api.adoptopenjdk.net webroot"

[2017-05-09 09:06] gdams commented on #10
You can use something like https://www.npmjs.com/package/markdown-serve to serve the markdown read me (to avoid maintaining two files)

[2017-05-09 16:01] #10 closed

[2017-05-09 16:16] Joe-Brady opened #12 "Add Bash tag to markdown"

[2017-05-09 20:20] Joe-Brady opened #13 "Move the platforms array to a centralised location"
Currently, the API source code contains a duplicate of the platforms array found in the main website source code. This means that the same update will need to be made twice when a new platform becomes available to download.

The platforms array should only exist in one location, which means importing it into the API source code via any available method. Suggestions welcome!

[2017-05-09 20:21] #8 closed

[2017-05-09 21:41] karianna commented on #13
There is the website backend project?

[2017-05-10 13:01] Joe-Brady commented on #13
Trying to think what the best approach would be - I've briefly thought through several approaches but nothing is standing out as an 'easy' option yet - what have you got in mind, roughly?

[2017-05-10 13:12] karianna commented on #13
In the Java world this would possibly sit in ins own repo and you'd package the source code up as a 'module' (e.g. platforms-1.0.0.jar) and have both projects add that JAR file as a dependency.

Not sure how you replicate that in NPM land locally...

[2017-05-11 10:21] Joe-Brady opened #14 "Update README to include header details"
Can you mention how to view the returned header
And how to view the remaining requests in the header
And explain about the 100 request per IP per hour limit

[2017-05-12 14:00] #14 closed

[2017-05-12 14:01] Joe-Brady commented on #12
Done, although it doesn't seem to be highlighting very much.

[2017-05-12 14:01] #12 closed

[2017-05-12 14:01] Joe-Brady commented on #7
Done, seems to be running `npm test`, and therefore `npm run lint`, and passing, which is good.

[2017-05-12 14:01] #7 closed

[2017-05-16 15:52] Joe-Brady opened #19 "Set up testing for API"

[2017-05-16 19:41] karianna opened #21 "arm64 --> aarch64 for jdk8u based builds"

[2017-05-17 12:31] Joe-Brady commented on #21
Fixed by latest PR

[2017-05-17 12:31] #21 closed

[2017-05-17 12:32] Joe-Brady opened #23 "Add error handling"
The API server must be prevented from crashing - error handling required.

[2017-05-17 12:49] karianna commented on #23
I assume you're referring to adding the usual NodeJS onError callbacks and trying to deal with things gracefully?  Or is this more of a horizontally scale the architecture?

[2017-05-17 13:01] Joe-Brady commented on #23
Currently just the onError callbacks, haven't yet considered any hardware backups/load balancing!

[2017-05-31 12:59] Joe-Brady opened #27 "Add option to directly access the binary link"
e.g.
`api.adoptopenjdk.net/releases/x64_linux/latest/binary`

...returns only the link to the latest Linux x64 release binary on GitHub.
Should be possible with any combination of the API paths that returns a single build.
Ideally should re-route so it can be used with `wget` or similar to actually directly download files.
Should also be easily extensible for installers (e.g. `/installer`).

[2017-05-31 13:01] Joe-Brady opened #28 "Add path syntax for searching by release name"
e.g.
`api.adoptopenjdk.net/releases/jdk8u152-b04`
`api.adoptopenjdk.net/releases/x64_linux/jdk8u152-b04`

[2017-06-05 14:07] #23 closed

[2017-06-05 19:28] Joe-Brady opened #30 "Add check for GitHub status, display message instead of blank page if down"

[2017-06-19 19:32] allandequeiroz commented on #30
Hi, @Joe-Brady. Can I take this one?

[2017-06-19 19:54] Joe-Brady commented on #30
@allandequeiroz of course - thank you!

[2017-06-19 20:27] karianna commented on #30
@allandequeiroz I think you still need to accept the invite to the org so we can assign you properly?

[2017-06-20 07:22] allandequeiroz commented on #30
Cool! I'll send a simple version before start working then if you think we need something more elaborated let me know.

[2017-06-20 10:37] #30 closed

[2017-06-23 12:01] #13 closed

[2017-06-23 12:01] #27 closed

[2017-06-23 19:21] gdams commented on #27
can you update the docs now that this feature has been implemented

[2017-06-23 21:23] Joe-Brady commented on #27
@gdams I've added a section in the readme under v1.1.0 - is there something I've breezed over a bit too much?

[2017-06-26 12:58] #28 closed

[2017-07-01 21:01] tellison opened #35 "API server unstable"
The API service is going down on a reasonably frequent basis.
I've just restarted it again.

FYI here is the tail of the console output:
[code]

[2017-07-02 11:08] Joe-Brady commented on #35
Thanks Tim - that's interesting, looks like Google might be crawling it looking for `/robots.txt`, at a guess.

Whether that's causing the crashes, not sure. I've built in error catching at every stage, so I would have thought it should handle things like that ok - got a feeling the crashes might be caused by something else.

As an backup measure I was planning to add the 'Forever' npm package, so

[2017-07-02 18:44] karianna commented on #35
@Joe-Brady I'm not against the forever service as long as we're diligent in finding out why we crash and restart

[2017-07-04 08:52] Joe-Brady commented on #35
Agreed

[2017-07-04 15:54] Joe-Brady opened #36 "Routes re-write"
@karianna @gdams @tellison, thoughts?

To provide a better foundation for future work on the API, I think it might be necessary to re-organise the current routes to be more picky about the order that users specify things. Also better to do this now, rather than later when there might be far more users of the API.

I have added the `/variant/` suggestion to keep in sync with the latest website deve

[2017-07-04 15:56] karianna commented on #36
I'm not understanding the reasoning / use case here?

[2017-07-04 16:06] Joe-Brady commented on #36
It's become unmanageable very quickly with my current routing, because you don't always have to specify the same things after each `/`.

E.g. you can currently do:
`/releases/all/jdk8u152-b04` - this gets all platforms for that specified build.
`/releases/latest/` - this gets all builds, and because we haven't specified the platform, it gets all platforms.

Just these two routes alone are already

[2017-07-04 16:15] karianna commented on #36
OK, I see - can't really see if there's a better design between platform first or relelase | nightly first.  I think what you have is fine.

[2017-07-04 16:17] Joe-Brady commented on #36
Ok, thanks for the thoughts - we'll see if Tim and George have any preference for things like that

[2017-07-05 21:16] gdams commented on #35
okay so we need to add a `robots.txt` right? that way we can just disallow all crawl bots (we use the same system for our staging web server)

[2017-07-05 21:17] gdams commented on #35
saying that though, our server should be able to cope with an undefined route? It shouldn't crash because of that

[2017-07-05 21:48] Joe-Brady commented on #35
Our server does cope with undedined routes - try:

https://api.adoptopenjdk.net/releases/sdfsdfggdfsg
https://api.adoptopenjdk.net/asdasd

Interestingly, I just tried https://api.adoptopenjdk.net/robots.txt, and it returns the expected result of `Cannot GET /robots.txt`

So I don't think it's related to that. In fact, thinking about it, Tim's tail of the log there doesn't contain anything too horr

[2017-07-06 10:04] tellison commented on #35
Right, to be clear I wasn't suggesting that the walk backs were evidence of a crash, just that they were the only output in the console file.

So:
 - maybe we can handle undefined routes a bit more gracefully, with a logged message rather than a walkback?
 - maybe we need some debug info to figure out why the app is exiting.  Of course, it could be a OS level kill, but no evidence for that either

[2017-07-19 16:31] #36 closed

[2017-08-01 13:35] sophia-guo opened #41 "Using wget to download sdk can only get binary sdk named binary."
Using "wget https://api.adoptopenjdk.net/openjdk/releases/$platform/latest/binary" to download the sdk can only get sdk named "binary".

Using  browser can get file like "OpenJDK8_***_jdk8u***.tar.gz".
It would be nice if using wget can download the file named exactly same as download by browser.

[2017-08-05 12:28] Joe-Brady commented on #41
After a quick Google, this seems to be a standard wget issue, not specific to our API? This may be one solution:

https://stackoverflow.com/questions/21358197/how-to-make-wget-to-save-with-proper-file-name

Alternatively, using curl with the O L and J options works as you have described:

`curl -OLJ https://api.adoptopenjdk.net/openjdk/releases/x64_linux/latest/binary`

Let me know if this issue c

[2017-08-08 14:55] sophia-guo commented on #41
Yep, wget with option --content-disposition worked flawlessly. Thanks.

[2017-08-08 14:55] #41 closed

[2017-09-15 18:35] sophia-guo opened #44 "Add API for OpenJDK 9 , and with OpenJ9"

[2017-09-15 21:00] gdams commented on #44
This already exists! check out the table [here](https://github.com/AdoptOpenJDK/openjdk-api#path-options)

[2017-09-16 03:25] sophia-guo commented on #44
Yes,  double checked it did exist. I didn't check carefully. :-(. Good to know they are there so I don't need to hard code anything.

[2017-09-16 03:25] #44 closed

[2018-03-05 13:52] io7m opened #45 "Listing variants?"
Hello!

Any chance of an API endpoint to list the available variants? I'm working on a Java wrapper for the API and am currently intending to include a static list of the variants (`openjdk8`, `openjdk9`, `openjdk9-openj9`, etc). It'd obviously be nicer to be able to fetch this list from the server.

[2018-03-05 22:44] #45 closed

[2018-03-06 11:03] io7m commented on #45
Thanks!

[2018-03-08 19:02] io7m opened #47 "Could the server always return arrays of releases?"
Take a look at the output of https://api.adoptopenjdk.net/openjdk8-openj9/releases:

[code]

Now take a look at the output of https://api.adoptopenjdk.net/openjdk8/releases:

[code]

Note that the endpoint returns an array when there's more than one release. The problem with this is that if you think of the endpoint as a method call, then the type of the method changes based on how many releases t

[2018-03-09 19:31] io7m opened #48 "Issues making requests to the API from the Java client"
Over the past couple of days, we've been trying to track down why the API is returning `520`, `521`, and `525` error codes seemingly at random for the [Java client](https://github.com/AdoptOpenJDK/openjdk-api-java-client).

The following occurs when making calls to the API:

[code]

These errors *never* occur when you use the API via `curl`.

I have verified that `curl` and the Java client are sen

[2018-03-09 19:34] karianna commented on #48
Almost certainly unrelated but JIC - https://github.com/AdoptOpenJDK/openjdk-build/issues/178

[2018-03-09 19:51] io7m commented on #48
[code]

Gives:

[code]

So it looks like that'll be valid for some time.

[2018-03-10 20:40] gdams commented on #47
Hmm yeah, this seems like a bug... we should be able to fix it

[2018-03-12 15:23] io7m commented on #48
Made a little progress on this.

With the latest code, I imported the above certificate intro a local JKS truststore, and executed one of the unit tests with the following properties set:

[code]

This yields the following:

[code]

The implementation runs `HEAD` on the base URI and then run `GET` on the actual target URI. The time between the two calls is on the order of milliseconds... Is it pos

[2018-03-12 15:28] io7m commented on #48
To clarify, the implementation makes a `HEAD` call to the API when the user first initializes the library, and then makes `GET` calls for all requests after that. The initial `HEAD` call is basically there so that I can grab the contents of the `X-RateLimit-Remaining` property and give useful errors if there aren't any remaining calls available.

Adding a 1 second sleep between the initial `HEAD`

[2018-03-12 15:28] gdams commented on #48
there is rate limiting... you can make a maximum of 100 requests per hour.

See https://github.com/AdoptOpenJDK/openjdk-api/blob/master/server.js#L27-L33

[2018-03-12 15:36] io7m commented on #48
I'm aware (I did just mention that I explicitly fetch and use the `X-RateLimit-Remaining` property the server provides). What I'm referring to is that there seems to be some other type of rate limiting going on (or possibly a bug in Node): If you make two requests to the server very quickly, the second will actually fail at the socket level (`ECONNREFUSED`).

[2018-03-12 15:37] gdams commented on #48
oh, that's probably cloudflare DDOS protection

[2018-03-12 15:38] gdams commented on #48
I can probably disable it for the API as the rate limiting should be good enough

[2018-03-12 15:40] io7m commented on #48
Just to be sure: When I'm connecting to `138.68.167.199`, I'm not going through Cloudflare, right? Being able to connect directly to `138.68.167.199` is what has pointed to the `ECONNREFUSED` error being the underlying cause of the `5**` errors I was getting when connecting to `api.openjdk.net` via Cloudflare.

[2018-03-12 15:43] gdams commented on #48
Hmm so the IP doesn't go through Cloudflare. If you are still seeing error connecting to the IP then I can't explain why that is happening

[2018-03-12 17:24] io7m commented on #48
I can throttle requests in the Java API, but I'm not sure if I should.

[2018-03-12 22:14] karianna commented on #48
This really should get written up as blog post - it's a master class in debugging (once it's solved!)

[2018-03-15 10:02] io7m commented on #48
I'm afraid I've come to a grinding halt. There isn't anything else I can do without us enlisting the help of a `node.js` expert.

[2018-03-15 17:12] gdams commented on #48
Can you try locally running the api on your machine? You'll be able to view the logs then

[2018-03-15 17:42] io7m commented on #48
I've tried an instance running locally and gotten this:

[code]

Now the first error is presumably because I don't have the expected data locally, but I think that the actual problem is that if any exception is raised at all, `node` crashes. Is `node` running under some sort of process supervision? If `node` is crashing and is then being restarted, that would explain why I can't make any requests

[2018-03-15 17:59] gdams commented on #48
yes we run node using forever. have you been able to make it crash locally?

[2018-03-15 18:08] io7m commented on #48
The above exception I logged (accessing `http://127.0.0.1:3000/openjdk8/releases`) causes `node` to crash. I don't know if that's what causes the real server to crash.

[2018-03-15 23:12] io7m commented on #48
To clarify: Based on what you've said (you're restarting `node` automatically), I think that _every_ request is causing `node` to crash and be restarted. From the perspective of a user that just does a single request and leaves, there's nothing wrong. This might be why nobody's noticed until now. If you do multiple requests in a short time, `node` hasn't come back up in time for the second and so

[2018-03-16 00:56] gdams commented on #48
So that's not quite the case. I know that the API isn't crashing by testing it locally (running `npm test`). Running the API that way allows it to naturally crash and I haven't observed this when making any requests which is why I sugguested running it locally yourself. We still need to work out why when using the java api that this is causing the the node app to crash

[2018-03-16 12:34] io7m commented on #48
Is there a particular way I should be running `node`?

I cloned the `openjdk-api` repos, `cd`'d into it. Then:

[code]

[2018-03-16 12:46] gdams commented on #48
so you want to clone the repo and then:

[code]

[2018-03-16 12:53] io7m commented on #48
There's no other setup required? That still gives me `Error: No file found matching path: /openjdk8/releases` and `node` crashes when I make a `GET` request to `http://127.0.0.1:3000/openjdk8/releases`.

[2018-03-16 13:04] gdams commented on #48
hmm let me take a look locally. I'm aware of
[code]
But I didn't think that this was crashing node

[2018-03-16 18:30] MaSven opened #50 "Getting more infos of /openjdk-amber Errors"
When clicking on the api page on the path option [/openjdk-amber](https://api.adoptopenjdk.net/openjdk-amber) gives me this instead of infos about the targets:

[2018-03-16 23:57] gdams commented on #50
This is because there are no `releases` of amber and so the default directory won't work. If you go to https://api.adoptopenjdk.net/amber/nightly you can get all of the nightly builds :)

[2018-03-17 06:11] MaSven commented on #50
Ok thank you

[2018-03-19 17:57] tellison commented on #50
I'm curious about why this is marked as "Done"?  It is incorrect to report an Error when there is non.  The response should indicate that there are no releases.

[2018-03-19 18:19] gdams commented on #50
there are no *releases* for amber but there are nightly builds. I'm not sure if this is a bug really?

[2018-03-19 21:29] karianna commented on #50
I'm actually with Tim on this one.  It's a little like the principle of returning empty Object/Collection vs returning a null.

[2018-03-23 15:39] smlambert opened #51 "Restart server.js when machine its running on is rebooted"
Not sure if this should be an issue here or in openjdk-infrastructure, but recently the api server was down for several hours.  It would be good to have the process restart if a machine reboots, rather than depend on manual restart or extra intervention.

[2018-03-23 15:41] smlambert commented on #51
Related to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/320

https://github.com/AdoptOpenJDK/openjdk-infrastructure/wiki/How-to-start-server.js-on-api.adoptopenjdk.net

[2018-03-23 16:42] karianna commented on #51
I'd argue this is an infra issue, I'll open up one there

[2018-03-23 16:42] #51 closed

[2018-04-09 19:52] sophia-guo opened #52 "Get latest sdk per platfom doesn't work all times"
With updated sdk deployment story( deploy per platform) openjdk-api query about latest sdk per platform may fail.

https://api.adoptopenjdk.net/$JVMVERSION/$SDK_RESOURCE/$PLATFORM/latest/binary

The reason is some platform may not have latest binary.
For example:
openjdk8 only have 4 platform available for latest ( April 9 for now: linux, ppcle, aix, windows)
https://api.adoptopenjdk.net/openjdk8/

[2018-04-11 16:28] keithc-ca opened #53 "Unusual and confusing date pattern for resource names"
Looking at https://api.adoptopenjdk.net/openjdk8/nightly, for example, we see resources named using the data pattern `YYYYDDMM`
[code]
instead of the more common (and IMO, natural) `YYYYMMDD` which also sorts better.

I'm not a javascript expert so I couldn't figure out the source of these names. If someone offers some pointers, I'll put together a pull request to 'fix' it, unless nobody agrees it

[2018-04-11 16:47] karianna commented on #53
Hmmm, I thought we had this the right way around, may be more a result of how the artifact name is produced than the Javascript offering it up.

[2018-04-11 17:12] keithc-ca commented on #53
What code decides on the artifact names? I'd be happy to help make it 'the right way around'.

[2018-04-11 17:15] gdams commented on #53
https://github.com/AdoptOpenJDK/openjdk-website-backend/blob/master/sbin/Release.sh#L16

[2018-04-11 17:16] gdams commented on #53
should just be a case of changing it to `'%Y%m%d'`

[2018-04-11 17:18] smlambert commented on #53
@keithc-ca - and once you've wrapped that up, please proceed to issue #52
< wink >

[2018-04-11 17:45] keithc-ca commented on #53
I opened https://github.com/AdoptOpenJDK/openjdk-website-backend/pull/12.

Next question, what do people expect will happen with clashes? For example, there are already builds for April 5, 2018 (named *20180504*), will the build for May 4 replace the older one? Or is there some way to rename existing artifacts using the new naming scheme?

[2018-04-11 17:49] gdams commented on #53
that's a good question! I guess we'll just have to wait and see

[2018-04-11 17:52] smlambert commented on #53
As of recent changes to ensure we had more timely builds (switching to a 'per platform' vs 'all platforms or nothing' approach), the expected behaviour may be that the new build will be appended to the existing release.

[2018-04-12 12:50] keithc-ca commented on #53
This looks better:
https://github.com/AdoptOpenJDK/openjdk8-openj9-nightly/releases/download/jdk8u162-b12-20180412/OpenJDK8-OPENJ9_x64_Win_20180412.zip

[2018-04-12 12:50] #53 closed

[2018-06-20 05:00] smlambert commented on #52
This should be addressed by https://github.com/AdoptOpenJDK/openjdk-build/pull/382

[2018-06-20 12:39] karianna commented on #52
AdoptOpenJDK/openjdk-build#382 has landed @sophia-guo I'll let you close this when you confirm the fix

[2018-06-20 18:50] gdams commented on #52
https://github.com/AdoptOpenJDK/openjdk-build/pull/382 partially fixes this but still doesn't fully fix the problem. If for whatever reason one of the builds fails then that platform won't be uploaded and therefore won't work with the `latest` API tag. We need to essentially add some logic that checks what the actual latest build is for a platform rather than looking at the latest release tag.

[2018-06-20 21:41] smlambert commented on #52
We should also make a concerted effort to get all the builds working (again).  They all have at some point, we need to close off the issues that are causing the current set to fail.

<img width="322" alt="screen shot 2018-06-20 at 5 38 10 pm" src="https://user-images.githubusercontent.com/2836948/41686180-19494d22-74b1-11e8-8c76-9d6670fb2f2c.png">

[2018-06-21 09:28] sormuras opened #54 "Add `-openj9` to variant fails for `latest` info"
### openjdk10-openj9
https://api.adoptopenjdk.net/openjdk10-openj9/nightly/x64_linux/latest/ returns

`No matches for your query!`

### openjdk10
https://api.adoptopenjdk.net/openjdk10/nightly/x64_linux/latest/ returns

[code]

If you remove `latest/` from the end of the query, both do return a list of releases.

Related to #52 ?

[2018-06-21 09:31] sormuras commented on #54
### openjdk9-openj9

Seems to work here.

https://api.adoptopenjdk.net/openjdk9-openj9/nightly/x64_linux/latest/ returns

[code]

[2018-06-21 10:06] sormuras opened #55 "Expose single properties via API"
It'd be cool, if the API supports access to specific property values.

For example, using https://api.adoptopenjdk.net/openjdk10/nightly/x64_linux/latest/ with `.../latest/?get=binaries.binary_link` would return only `https://github.com/AdoptOpenJDK/openjdk10-nightly/releases/download/jdk-10%2B23-201818061352/OpenJDK10_x64_Linux_201818061352.tar.gz`.

This would eliminate the need to parse the jso

[2018-06-21 11:39] #54 closed

[2018-06-21 12:16] #52 closed

[2018-06-21 12:36] gdams commented on #54
this should be fixed now

[2018-06-21 12:50] gdams commented on #55
@sormuras so it looks like are trying to get the binary link in one step? consider adding `/binary` to the end of the request. e.g https://api.adoptopenjdk.net/openjdk8/releases/x64_linux/latest/binary

[2018-06-22 04:51] sormuras commented on #55
Tried to refactor `install-jdk.sh` to digest _server-side file names_ but failed. Using plain binary links works well with https://github.com/sormuras/bach/blob/master/install-jdk.sh#L229 at the moment.

[2018-07-20 16:31] dinogun opened #68 "Querying for latest nightly binary retrieves a json instead of the binary"
Querying with this API ```https://api.adoptopenjdk.net/v2/binary/nightly/openjdk8?openjdkIml=hotspot&os=linux&arch=aarch64&type=jdk&release=latest``` returns the following json object

[code]
Is this expected behaviour ? Ideally querying with the tags "latest", "binary" should just return the last build no matter how many builds match the query.

[2018-07-20 16:45] johnoliver commented on #68
This is because the release at:
https://github.com/AdoptOpenJDK/openjdk8-nightly/releases/tag/jdk8u172-b00-201829061900

Has created multiple binaries of the same type, in the same release, this has confused the api, as when you are asking for a download it expects one and only one asset to redirect you to.

This combined with the fact that 201829061900 appears to be the most recent release as it

[2018-07-23 15:38] #68 closed

[2018-07-23 15:38] johnoliver commented on #68
Fixed by cleaning up releases

[2018-07-27 09:02] dinogun commented on #68
@karianna @johnoliver
This issue has surfaced again and looking at the same release that you have mentioned above, https://github.com/AdoptOpenJDK/openjdk8-nightly/releases/tag/jdk8u172-b00-201829061900, I see that all of binaries for that data still exist. The strange thing here is that they were not there for a couple of days. Have they been recreated for some reason ? It appears to be the last

[2018-07-27 10:57] karianna commented on #68
I've manually cleaned those up again.  Not sure why they reappeared, the build job should not create binaries for a date in the past...

[2018-08-01 06:15] dinogun opened #74 "API needs to differentiate between Regular OpenJ9 and the Large Heap variant"
OpenJ9 appears to have two variants, Regular and Large Heap. Calling the info [API](https://api.adoptopenjdk.net/v2/info/nightly/openjdk10?openjdk_impl=openj9&os=linux&type=jdk&release=latest&arch=x64) results in both of them being retrieved
[code]
Correspondingly querying for the [binary](https://api.adoptopenjdk.net/v2/info/nightly/openjdk10?openjdk_impl=openj9&os=linux&type=jdk&release=latest&a

[2018-08-02 11:31] culmat opened #75 "API endpoint to list available versions and impls"
Through the website I get a drop down
![image](https://user-images.githubusercontent.com/638519/43580759-d1c5b4aa-9656-11e8-97f2-262587bfdf24.png)
fed by https://adoptopenjdk.net/dist/json/config.json
I need this information to call the api via something like [https://api.adoptopenjdk.net/v2/info/releases/**openjdk8**?openjdk_impl=**hotspot**](https://api.adoptopenjdk.net/v2/info/releases/openjdk8

[2018-08-14 09:34] dinogun opened #79 "The API for the "Latest" build does not return info for all arches"
Eg. when we query for the latest [nightly](https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=hotspot&os=linux&type=jdk&release=latest) for hotspot, we get the following JSON object.
[code]
This has only an entry for ```aarch64```. However if we specifically query for nightly hotspot for [x64](https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=hotspot&os=linux&type=

[2018-08-14 12:07] karianna commented on #79
dino [Today at 09:55]
Question on the v2 API: If the "latest" version is different for different arches, how do you determine the generic latest ? (edited)

17 replies
dino [3 hours ago]
Eg. https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=hotspot&os=linux&type=jdk&release=latest
vs
https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=hotspot&os=linux&type=jdk&relea

[2018-08-14 15:59] sophia-guo commented on #79
Some background history
dino [3 hours ago]
yeah, I guess the issue is we have nightly builds with some arches failing / not available on specific nights. This means, for a given nightly tag, we cannot expect it to have builds for all arches

-- @dinogun correct, that is updated nightly publish story. https://github.com/AdoptOpenJDK/openjdk-build/pull/291

johno [3 hours ago]
yeah, it will be the o

[2018-08-14 16:03] sophia-guo commented on #79
Could be set latest always be **the latest one with all specifiers**?

[2018-08-14 16:17] johnoliver commented on #79
I think its not impossible to return the latest build for every combination that matches the filters. Its just a question of how complex will it be to do, will have to take a look.

[2018-09-24 15:27] johnoliver commented on #52
I dont think this is the same issue exactly, I will comment on https://github.com/AdoptOpenJDK/openjdk-tests/issues/581

[2018-09-26 14:40] johnoliver commented on #74
hopefully you can fix this now by adding heap_size=normal (or large if you want a xl build) to your api query

[2018-09-26 18:28] #74 closed

[2018-09-30 14:38] ExE-Boss opened #146 "CORS Request Failed"
* **Browser**: Firefox 62.0.2

I am getting the following printed in the developer console:
<pre class="tab-size" data-tab-size="8">
⚠️<strong> Cross-Origin Request Blocked:</strong>
The Same Origin Policy disallows reading the remote resource at
https://api.adoptopenjdk.net/v2/info/releases/openjdk10?release=latest&openjdk_impl=openj9&.
(Reason: CORS header 'Access-Control-Allow-Origin' missing).

[2018-10-01 08:27] xtbe opened #83 "Request with and without openjdk_impl attribute [Help Wanted]"
I executed the following request

https://api.adoptopenjdk.net/v2/info/releases/openjdk8?openjdk_impl=hotspot&os=windows&type=jdk&release=latest

This is the result

[code]
When I leave out the the openjdk_impl attribute I would expect to get the releases for the Hotspot and OpenJ9 however it only returns the OpenJ9 builds, I would expect to get both OpenJ9 and Hotspot. Am I doing something wrong

[2018-10-02 21:09] johnoliver commented on #83
This is a tough question. The issue is that the api returns the latest release that contains some assets that match your filter. It does not return the latest asset for every possible combination of binaries that could match your filter. It does produce odd results in the case where we have partial releases that do not contain all the assets we would expect, in that case you will only get that par

[2018-10-08 16:54] johnoliver opened #87 "Expose JCK info via api"
Indicate if the jvm passes

[2018-10-15 10:33] johnoliver commented on #79
Should be resolved, if you want this info use the https://api.adoptopenjdk.net/v2/latestAssets/nightly/openjdk8 endpoint

[2018-10-15 10:39] #79 closed

[2018-10-15 10:40] johnoliver commented on #83
Should be resolved, if you want the latest asset for a given platform use the https://api.adoptopenjdk.net/v2/latestAssets/nightly/openjdk8 endpoint

[2018-10-15 10:40] #83 closed

[2018-10-16 18:38] jryan128 opened #93 "Error using release query param"
I try: https://api.adoptopenjdk.net/v2/info/releases/openjdk11?openjdk_impl=hotspot&os=linux&arch=x64&type=jdk and I get this:

[code]

I would expect to be able to use the release name in the "release" query param like so:

https://api.adoptopenjdk.net/v2/info/releases/openjdk11?openjdk_impl=hotspot&os=linux&arch=x64&type=jdk&release=jdk-11%2B28

Note the appended **release=jdk-11%2B28**

But I g

[2018-10-17 08:47] karianna commented on #93
shouldn't you be using `release_name` as opposed to `release` in that case?

[2018-10-17 10:40] freemanjp commented on #93
The [readme](https://api.adoptopenjdk.net/README#query-parameters) for the API doesn't document a `release_name` parameter and the `release` parameter (that is documented) was working for this purpose (looks like #92 broke that behaviour).

[2018-10-17 10:48] johnoliver commented on #93
Yep, good point

[2018-10-17 12:18] #93 closed

[2018-10-17 16:06] johnoliver opened #95 "Add website specific endpoints"
The website pulls its data from the api, esp https://github.com/AdoptOpenJDK/openjdk-website/pull/339 may increase load on the api and also slow down the website. Should probably add an endpoint for the website to pull all the data it needs in one go and not require multiple api hits, and/or cache results for common website queries.

[2018-10-17 19:10] jryan128 commented on #93
Thank you very much for the fix and your quick response. Keep up the great work 👍

[2018-10-29 00:32] freemanjp opened #103 "Error using release query param (again)"
Before I get to the bug, I'd like to express my thanks to all involved for your efforts to make it easier to download OpenJDK.

This bug appears to be identical to #93 (which was fixed earlier). This time the bug appears to be caused by [#98](https://github.com/AdoptOpenJDK/openjdk-api/pull/98/files#diff-6a09227a62e767ef5155744fe3c1a6b2R163).

The validation regex was changed in the same way as #9

[2018-10-29 11:34] #103 closed

[2018-10-30 12:14] karianna opened #107 "Remove v1 API and replace with a 404 to the correct v2 API"

[2018-10-31 09:58] io7m opened #109 "Error hitting openjdk8 releases"
[code]

The other releases seem to work.

[2018-10-31 10:14] karianna commented on #109
The v1 API is deprecated.  Please use v2 as described: https://github.com/AdoptOpenJDK/openjdk-api/blob/master/README.md

[2018-10-31 10:14] #109 closed

[2018-10-31 10:15] karianna commented on #48
@io7m Just released - has this been updated to use v2 of the API?

[2018-10-31 10:15] karianna commented on #47
@io7m Can you try with the v2 API and see if that works for you?

[2018-10-31 11:35] io7m opened #111 "Is there a no-op endpoint for requesting the rate limit?"
Hello!

In the Java implementation of the old v1 API, I'd first perform a `HEAD` request on an endpoint that I knew was guaranteed to trivially return a result. Specifically, I'd:

[code]

I'd then parse the rate limit from the response headers and then (maybe) make further API calls. The `v2` API doesn't seem to expose an endpoint like the above that trivially returns a success HTTP code and also

[2018-10-31 11:35] johnoliver opened #112 "Github api pagination"
Githubs api paginates its data, so we can miss releases as we dont search back through the pages.

[2018-10-31 11:36] io7m commented on #48
I'm working on upgrading the Java API to use v2 as we speak.

[2018-10-31 12:10] johnoliver commented on #111
https://api.adoptopenjdk.net/v2/ returns the rate limit, it gives a 404 but still gives you the rate limit

[2018-10-31 12:18] #111 closed

[2018-10-31 12:40] io7m commented on #111
Got it, thanks.

[2018-10-31 12:55] io7m commented on #75
It turns out that we also need this for the Java API. Without this information, the API essentially becomes impossible to use without knowing every possible build variant ahead of time.

[2018-10-31 12:56] io7m commented on #47
I've allowed the v1 implementation to accept objects in addition to arrays. I'm currently blocked on https://github.com/AdoptOpenJDK/openjdk-api/issues/75 as it's not possible to produce an API with equivalent functionality without that info.

[2018-10-31 13:00] johnoliver commented on #47
For specifically this issue, I believe any request to the v2 api that has the possibility to return more than 1 request will return an array. As for the v1 api, I dont think any more changes are going to go into it, so this issue should probably be closed

[2018-10-31 19:53] karianna commented on #47
OK closing this and we'll look at #75

[2018-10-31 19:53] #47 closed

[2018-11-01 11:32] supahgreg opened #113 "Consistent API response type"
As an API consumer I'd like for all messages returned from the API to be predictable and valid JSON in order to have consistent interactions and minimize special handling of responses.

[2018-11-02 08:00] kuglo opened #114 "Wrong meta data ("binary_type" and "openjdk_impl") for jdk8u192-b13-0.11.0 and jdk-9+181"
The response of https://api.adoptopenjdk.net/v2/info/releases/openjdk8?release=jdk8u192-b13-0.11.0 and https://api.adoptopenjdk.net/v2/info/releases/openjdk9?release=jdk-9%2B181
show wrong `"openjdk_impl": "jdk"` (should be: `"openjdk_impl": "openj9"`) for jdk binaries and wrong `"binary_type": "jdk", "openjdk_impl": "jre"` (should be `"binary_type": "jre", "openjdk_impl": "openj9"`) for jre binar

[2018-11-02 12:03] karianna opened #116 "Re-write tests to provide stub test data instead of calling GitHub's API (which is rate limited)"

[2018-11-02 12:04] karianna opened #117 "Add a count to the API (in order to replace the release counter)"

[2018-11-02 12:07] karianna commented on #87
As per our support statement, we can't utilise this for now.

[2018-11-02 12:07] #87 closed

[2018-11-02 13:05] #114 closed

[2018-11-02 13:05] #117 closed

[2018-11-02 13:06] #116 closed

[2018-11-02 14:40] karianna opened #118 "Add an LTS and/or supported flag to releases"
This is to support the website so that the home page can differentiate between supported releases (that should be displayed on the home page, e.g. Java 8 and 11) and not (9, 10 etc).

I'd argue a supported concept is the more accurate thing to do here.

[2018-11-02 15:56] Mesbah-Alam commented on #52
I am not sure if it's related, but jdk11 grinder build failed once this morning for me, with failure to  obtain nightly sdk:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/338/console

Is the issue still lingering?

[2018-11-02 15:58] johnoliver commented on #52
that is trying to pull info about openjdk1

[2018-11-02 15:59] Mesbah-Alam commented on #52
Yes, just realized after making the comment, it was a mis-spelled parameter that caused that failure. Nevermind!

[2018-11-03 13:18] supahgreg opened #120 "TypeError: Cannot read property 'promise' of undefined"
As of aeda5462a6f64255dcb3bda4338e53b7338fe2ac invalid versions cause a server error ([HTTP 500 in `server.js`](https://github.com/AdoptOpenJDK/openjdk-api/blob/aeda5462a6f64255dcb3bda4338e53b7338fe2ac/server.js#L64)):
[code]

Previously, this was an HTTP 404 with a response of "Not found", with no server error.

There might be other things impacted.

[2018-11-08 13:01] #120 closed

[2018-11-10 13:24] supahgreg opened #124 ""Latest" orders releases by timestamp, rather than version"
Currently https://api.adoptopenjdk.net/v2/info/releases/openjdk8?release=latest&openjdk_impl=hotspot is returning [`jdk8u191-b12`](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u191-b12) since it has a timestamp of `2018-11-08T15:09:35Z`, even though the actual "latest" release (for the vast majority of combinations) is [`jdk8u192-b12`](https://github.com/AdoptOpenJDK/openjdk8

[2018-11-11 12:30] supahgreg commented on #124
Just noticed this also limits the OpenJDK 8 installation instructions to "Linux aarch64 jdk" and "Linux aarch64 jre".

[2018-11-11 15:38] karianna commented on #124
@johnoliver If we should deprecate/remove ` https://api.adoptopenjdk.net/v2/info/releases` in favour of `https://api.adoptopenjdk.net/v2/latestAssets/releases` we'll have to do that as a v3 change...

@supahgreg Does #125 give you the expected behaviour for both the API and the installation instructions?

[2018-11-11 15:44] supahgreg commented on #124
@karianna it does get things back to the way they were prior to the `jdk8u191-b12` release, and what most would probably expect "latest" to return.

[2018-11-11 21:49] johnoliver commented on #124
I dont think releases needs to be deprecated, just that latestAssets is more appropriate for most of what the website wants

[2018-11-12 14:57] #124 closed

[2018-11-26 20:29] karianna commented on #107
I think this also should include removing releases.json etc.

[2018-11-27 16:07] bdw429s commented on #113
This would be a great enhancement.  It's hard to integrate with an API that doesn't give you back a consistent response format.

[2018-11-27 16:55] bdw429s opened #132 "Versions are inconsistent/incomplete/misplaced"
There is currently no good way to get a standard version number out of the API which makes it very difficult to interact with the API.

There is a `binaries[ i ].version` property in the JSON response but it has two issues:

* It's at the binary level and not the release level which doesn't make sense.  Wouldn't all binaries for a given release have the same version?  The version needs moved up to

[2018-11-27 17:11] bdw429s commented on #132
Reminder to myself: Once this ticket is complete, enter a ticket for the API to accept versions (and possibly partial versions) for filtering.  i.e.

/info/releases/openjdk9?version=9.0.4%2B11
or maybe ranges like
/info/releases/openjdk9?version=9.0.x

[2018-11-27 17:41] bdw429s opened #133 "Seperate the notion of artifact, release, and version in the API (v3?)"
One aspect of the API which is rather confusing is the relationship between version and release.  There's too much overlap going on.

Take the following API URL for example:

https://api.adoptopenjdk.net/v2/info/releases/openjdk9?release=jdk-9.0.4%2B11&type=jdk

* Why is the number 9 twice in there?
* Why is the text "jdk" twice in there (thrice actually)?
  * This tells us we're crossing concerns

[2018-11-28 00:54] supahgreg commented on #133
@bdw429s if you're up for it, a working proof-of-concept (e.g. a `/v3/info/releases` endpoint) might be nice.  I think there's definitely interest in improving the API (in multiple regards), so that could help kick things off.

[2018-11-28 04:11] bdw429s commented on #133
I love building APIs, but I don't love Node :)  My axe of choice is CFML (a JVM lang) but I'm not sure a CFML-based REST API would be of much interest to Adopt.  That and I have no idea what data powers the endpoints behind the scenes.  Now, maybe we could flesh out some more specifics like a Swagger spec or something on what the inputs and outputs would be.  That sounds fairly useful, but I'd nee

[2018-12-05 18:49] llxia opened #134 "api for mac JDK11 does not work"
I can download mac JDK8 using the link below.

https://api.adoptopenjdk.net/v2/binary/nightly/openjdk8?openjdk_impl=openj9&os=mac&arch=x64&release=latest&type=jdk&heap_size=normal

But JDK11 gave me `Multiple binaries match request`:
https://api.adoptopenjdk.net/v2/binary/nightly/openjdk11?openjdk_impl=openj9&os=mac&arch=x64&release=latest&type=jdk&heap_size=normal

[code]

[2018-12-05 19:51] smlambert commented on #134
I think its related to this:
https://github.com/AdoptOpenJDK/openjdk-build/issues/588

[2018-12-07 10:48] karianna commented on #134
It is indeed

[2018-12-10 15:36] bdw429s commented on #75
Yes, please.  I just finished wrapping the API in a CommandBox CLI command to search for OpenJDK versions and two of the biggest issues I ran into were:
1) No single API endpoint I can hit that returns results across major versions!  i.e., show me every windows hotspot build regardless of whether it's jdk8 or jdk9, etc. There is no way for me to even know what all the major versions are
2) I get a

[2018-12-10 18:38] johnoliver commented on #132
@bdw429s how do you feel about the following:

[code]

note `version_data` added. Some examples of the form `version_data` can take:

[code]

`version_data` has the properties:
`semver` - Symantic version conversion of openjdks version
`openjdk_version` - Original openjdk version
`optional` - $OPT from jep223
`preview` - $PRE from jep223

`semver` is of the form: "<major>.<minor>.<security>", then

[2018-12-10 20:11] bdw429s commented on #132
hi @johnoliver , I like where you're going with this, but I'd like to point out that `1.2.3.4` is not valid semver as it only allows for major, minor, and patch with period delimiters.  The other two optional pieces of data you can provider in semver are prerelease identifier and build number.  Prerelease ID is preceded by a hyphen (`-alpha`, `-beta`, `-rc`, `-snapshot`, `-beta.1`, `-beta.2`, etc)

[2018-12-14 18:44] bdw429s commented on #132
@johnoliver Just checking to see if you saw my reply.

[2019-01-03 17:17] johnoliver commented on #132
I have an example working, you can see some of the example mappings at:

https://github.com/johnoliver/openjdk-api/blob/e7f3456759b7e2d3efe2f1dc41a285f9e8ba3a43/test/versions.test.js

Do those look correct to you?

Some examples of data produced:
[code]

[code]

[2019-01-03 19:09] bdw429s commented on #132
@johnoliver Yes, those look great.

[2019-01-09 14:34] #19 closed

[2019-01-09 14:34] karianna commented on #35
This has been resolved for some time

[2019-01-09 14:34] #35 closed

[2019-01-09 16:15] karianna commented on #48
Hi @io7m are you able to try this again now?  I'm also curious as to the vendor/version of Java you are using (maybe a cert chain issue).

[2019-01-09 16:17] karianna commented on #50
@MaSven Can you try again?  There are still no releases but you should see a more sensible return code/message.

[2019-01-09 16:20] karianna commented on #112
Effectively Fixed

[2019-01-09 16:20] #112 closed

[2019-01-09 16:21] karianna commented on #113
@supahgreg and @bdw429s Can you try the latest API and see if you're happy with the consistency?  If not we'd like to track specific edge cases

[2019-01-09 16:48] karianna commented on #113
Scratch that - this still needs to be done.

[2019-01-09 22:02] karianna commented on #134
Resolved in recent PR

[2019-01-09 22:02] #134 closed

[2019-01-10 11:04] johnoliver commented on #132
We did discuss this, problem with this is that if you move it up to the release level, then for calls where the binaries are not grouped by release, such as the `latestAssets` the binary asset will have to have the `version_data` added to it, making what properties a binary asset has inconsistent between different calls to the api.

[2019-01-10 14:19] bdw429s commented on #132
@johnoliver Yes, @ParkerM and I were discussing this in Slack yesterday.  To be clear, not every call to a given API should have a consistent response format, but every call to the same resource should.  It's ok to share a data structure across resources, but to the point it makes sense.  I've never used the `latestAssets` part of the API, but it sounds like it's representing a different resource

[2019-01-10 18:14] MaSven commented on #50
Yes now it is
`{"warning":"AdoptOpenJDK API v1 is deprecated and will be removed. See https://api.adoptopenjdk.net/","message":"Error. Try again and if the problem persists please raise an issue detailing steps to reproduce this error at https://github.com/AdoptOpenJDK/openjdk-api/issues."}`
The Error message is the same. Only the deprecation warning is new.

[2019-01-10 22:24] karianna commented on #50
OK, and what happens when you try against the v2 API?

[2019-01-11 07:45] MaSven commented on #50
When I ask for releases I get a [404](https://api.adoptopenjdk.net/v2/info/releases/openjdk-amber) not found what I think is appropriate. Now I know this resource is not there and there was no error in the request. Here is the full response

Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Host: api.adoptopenjdk.net
User-Agent: HTTPie/1.0.2

Access-Control-Allow-Origin: *
CF-RAY:

[2019-01-11 08:35] karianna commented on #50
OK good to hear it's moe sensible

[2019-01-11 08:35] #50 closed

[2019-01-31 16:28] llxia opened #144 "api for jdk8 is broken"
The following link used to work, but it gives error `Multiple binaries match request` now:

https://api.adoptopenjdk.net/v2/binary/nightly/openjdk8?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk&heap_size=normal

Similar URL for jdk11 works as expected:
https://api.adoptopenjdk.net/v2/binary/nightly/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk&heap_size=no

[2019-01-31 16:31] johnoliver commented on #144
This is really a build issue as the large heap build tags are broken and the api cant understand the new file name format

[2019-01-31 16:35] gdams commented on #144
@johnoliver how quickly can this be resolved?

[2019-01-31 18:00] johnoliver commented on #144
Actually I tell a lie, have fixed it, should work now. Have disabled XL builds until we get the tagging fixed.

[2019-01-31 19:14] llxia commented on #144
Thanks. Close this issue as the link works now.

[2019-01-31 19:14] #144 closed

[2019-01-31 22:55] JasonFengJ9 opened #145 "Retrieving latest JDK11 linux binary doesn't work"
Tried following link:
https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk
The browser spits following message:
[code]
Any insights?

[2019-01-31 23:10] karianna commented on #145
Yeah, we had some tagging issues today that the team are working through, hope to have this cleaned up shortly!

[2019-02-01 05:37] sxa555 commented on #145
Interesting. Shouldn't be any duplicates now. Hopefully someone can get this diagnosed tomorrow

[2019-02-01 13:56] JasonFengJ9 commented on #145
Following link works.
https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&heap_size=normal&type=jdk

Thanks you guys quick response, problem solved!

[2019-02-01 13:56] #145 closed

[2019-02-02 09:06] karianna commented on #146
Tested on latest FF 65 and Chrome - no longer an issues

[2019-02-06 19:57] sophia-guo opened #148 "api for macXL JDK8 does not work"
Query for macXL JDK8 doesn't work

curl -OLJks  'https://api.adoptopenjdk.net/v2/binary/nightly/openjdk8?openjdk_impl=openj9&os=mac&arch=x64&release=latest&type=jdk&heap_size=large'

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_macos_macosXL/1/console

[2019-02-07 10:28] johnoliver commented on #148
this is probably due to xl builds being disabled until we can fix file names

[2019-02-07 14:06] sophia-guo commented on #148
Looks like there are XL builds either for jdk11/jdk8 on LinuxXL/MacXL. Queries for linuxXL JDK8/JDK11 and MacXL JDK11 work fine. MacXL JDK8 was built first time yesterday and JDK is available on https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#macosxl. Feels only this specific query doesn't work.

[2019-02-10 14:40] VonUniGE opened #149 "List all releases with curl and jq"
Using `curl` and `jq`, I would like to list all releases to easily (maybe automatically in the future) check if the homebrew-openjdk repository is up to date. With:
[code]
I obtain:
[code]

macOS binaries are not in this list. How can I obtain the same list with macOS binaries ?

[2019-02-12 21:45] AdamBrousseau opened #154 "Cert issues getting sdks from API"
[code]
Tried with http as well. Blocking our Travis builds at Eclipse OpenJ9

[2019-02-12 23:30] JChrist commented on #154
Same here for me, both `wget` and `curl` fail on Ubuntu 18.04

When trying to download a jdk via the API, the download is aborted due to SSL validation error.
Sample command:
`wget -q -O /jdk.tgz "https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=hotspot&os=linux&arch=x64&release=latest&type=jdk"`

The errors are the same even if trying to hit the base url `api.adoptopenjdk.ne

[2019-02-13 08:11] gdams commented on #154
fixed, sorry everyone for the outage

[2019-02-13 08:11] #154 closed

[2019-02-13 11:37] karianna opened #155 "Add Contributing.md"

[2019-03-01 12:16] gdams commented on #148
seems to be working now? @sophia-guo can we close?

[2019-03-01 13:21] sophia-guo commented on #148
Yes, works good! Close it.

[2019-03-01 13:21] #148 closed

[2019-03-22 16:47] karianna opened #160 "Support openjdkX-upstream-binaries"
See https://github.com/AdoptOpenJDK/TSC/issues/65

We've created the `openjdk8-upstream-binaries` and `openjdk11-upstream-binaries` repos.  Once we see what a binary in there looks like (release name and file name) then we need to adjust the API to be able to read those in.

This will likely be a major refactor, bringing in the concept of a `provider`

So targeting this as a v3 change

[2019-03-26 09:55] jerboaa commented on #160
I've uploaded first EA builds for `x64_linux`:

JDK 8: https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/tag/jdk8u212-b01
JDK 11: https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/tag/jdk-11.0.3%2B4

The JDK 8 windows build will be called `OpenJDK8u-x64_windows_8u212b01_ea.zip`.

[2019-03-27 11:05] karianna commented on #48
@io7m I'm closing this for now - please let us know if there are further issues!

[2019-03-27 11:05] #48 closed

[2019-03-27 11:24] io7m commented on #48
Apologies, I haven't had time to work on this. I suspect it's no longer an issue because:

1. I think people want the v2 API.
2. I'm personally parsing the bulk data from Git repositories as opposed to going via the v1 API (as described in another ticket here somewhere).

I'm guessing that there's noone using this v1 Java API... It hasn't worked for a while and nobody has complained. :smile:

[2019-04-01 14:39] jerboaa commented on #160
@karianna How is this one progressing? I take, it it'll be a pre-requisite for a website update which also offers vanilla upstream binaries as a choice?

[2019-04-02 07:54] jerboaa commented on #160
It would be ideal if this is ready and deployed in 2 weeks time (April 16) provided this is a **prerequisite** for a website update also showing upstream builds. The main concern for us would be upstream builds showing up as a choice at https://adoptopenjdk.net when the April CPU update is done. Thanks!

[2019-04-02 11:23] karianna commented on #160
OK, I'll have a chat to the various team members who have worked on the API and see if we can get it out on time.

[2019-04-02 11:34] jerboaa commented on #160
Thank you! Much appreciated.

[2019-04-26 12:23] reinhapa opened #165 "Add the possibility to specify multiple parameter arguments per type"
It would be great to support multiple parameter arguments per argument so it would be possible to select for example all `jdk` types for a specified amount of `os` like so:
[code]
Same could be used to select different `arch`, `rekease`, `type` and so on

[2019-05-06 05:23] ParkerM commented on #113
I've run into this while working on #165 after adding support for multiple `release` query values.

The current API behavior is to return a single release object for the query `?release=latest`, and an array of release objects otherwise. From a RESTful standpoint, changing the response format based on magic query params seems incorrect, so this could be corrected by returning an array containing t

[2019-05-06 05:43] ParkerM commented on #165
I've got a PR nearly ready for this, but in order to support multiple `release` query values I would need to make a decision related to #113.

tl;dr: due to the way the `release` query affects the response format, it would be non-trivial to handle multiple `release` values in a way that would be clear to users and not break existing functionality.

A possible workaround for now would be to disallo

[2019-05-06 06:22] reinhapa commented on #165
@ParkerM @karianna as a consumer it makes more sense to filter based on `os` as we need have to support only those. A filtering on other parts could be done in a later version...

[2019-05-06 15:35] bdw429s commented on #113
@ParkerM Personally, I'd love to be able to filter on partial releases.  It would probably make more sense to filter directly on the semantic version using something common such as the npm flavor semver library, but an example would be asking for JDK `11.x` which would be a semver range matching the latest stable release starting with the major version of `11`.  Right now I basically have to query

[2019-05-06 16:43] karianna commented on #165
I think if we disallow then we'll introduce unexpected behaviour for those who are already relying on the (admittedly bad) behaviour, so it would have to be a `v3` patch....

[2019-05-07 01:14] ParkerM commented on #165
By that I meant adding multi-value query support for all existing fields _except_ for `release`, so the API maintains its current behavior (returning a single object for `latest` and an array for a named release).

I receive a `504 Gateway Timeout` after 30 seconds when multi-value query params are supplied in the current production v2 API. This could be modified to respond with a proper `400 Bad

[2019-05-07 08:59] karianna commented on #165
@johnoliver Thoughts? I'm OK with this.

[2019-05-07 09:37] johnoliver commented on #165
Yeah I am fine with having release special cased for the time being until we get out v3 api and come up with something more consistent.

[2019-05-07 23:24] ParkerM commented on #165
Cool, I'll continue in that direction and should have a PR ready sometime in the next day or two 👍.

[2019-05-16 02:35] #165 closed

[2019-05-22 05:00] ParkerM opened #168 "Define standard linting rules to automate style-related PR reviews"
This would automate reviews for most style issues and provide instant PR feedback to contributors, as well as automate some project configuration processes in capable IDE's.

Seeing as v3 is entering the active development phase, a consensus on standard style rules would prevent a lot of headaches, discussions, and manual intervention for the contributions that lie ahead.
Common "obvious" inconsis

[2019-05-22 05:01] ParkerM commented on #168
Some personal preferences in approximate descending order of severity:

* **Prefer `let`/`const` over `var`**:
   prevents scoped declarations affecting global state
* **Prefer `const` when possible**:
   changes to mutability must be explicitly addressed
* **Spaces over tabs, `\n` for line breaks**:
   (fish in a barrel)
* **Force (or disallow) usage of semicolon where applicable**:
   consistenc

[2019-05-22 07:22] karianna commented on #168
Don't see why not - we have similar PR testing on other repos

[2019-05-22 10:02] johnoliver commented on #168
Since we are looking at starting v3 from a blank slate. It is probable we will move to a JVM based tech/language for the api in the future.

[2019-05-22 10:15] karianna commented on #168
Happy with that, as long as we have the same ease of deployment as the existing API on OpenShift

[2019-05-22 16:10] ParkerM commented on #168
That'd be awesome! I suppose something like Checkstyle or ktlint could be useful in that case.

[2019-06-18 13:20] jerboaa commented on #160
@karianna It's been a couple of months. What's the status of this work? Would it be advisable to get somebody working on this? If so any specific pointers to requirements?

[2019-06-24 08:50] karianna commented on #160
Apologies for the late reply - this is really tied up with the v3 overhaul which is starting at:

https://github.com/AdoptOpenJDK/openjdk-api/tree/v3

@johnoliver Do we have a design doc/discussion doc for this?  Even starting with a wagger definition would be good I think.

[2019-08-06 15:21] lumpfish opened #175 "api returning incorrect build for latest"
A new release jdk-11.0.4+11.2 was recently created for hotspot and openj9 builds.
The openj9 build release name is jdk-11.0.4+11.2_openj9-0.15.1.  However, the new release is not returned as 'latest' via the API -  https://api.adoptopenjdk.net/v2/info/releases/openjdk11?release=latest&os=mac&arch=x64&openjdk_impl=openj9&type=jdk&heap_size=normal

The new build is returned OK for the hotspot build:

[2019-08-08 10:34] jcompagner commented on #132
i find this release api really not wel documented or how to use it
for example i do the info query to get what is now the latest:

https://api.adoptopenjdk.net/v2/info/releases/openjdk12?release=latest&openjdk_impl=openj9&os=mac&arch=x64&type=jre&heap_size=normal

that gives me a nice json
But now i want to fix on that release..
So i want to have something like:

https://api.adoptopenjdk.net/v2/bi

[2019-08-08 13:51] karianna commented on #132
@johnoliver - see if @jcompagner comments give you any new use cases for v3 but I think you've covered all of this.

For those watching this issue -> https://app.swaggerhub.com/apis/johnoliver/API/3.0.0-beta#/

[2019-08-08 14:18] jcompagner commented on #132
i would say that a query of "what is here" that gives you result of multiply releases would give you also the parameter values if you would query a bit more strict..
So the get param value should be able to copy paste from a response of another..

And it would be nice if the param names of the response like:

https://api.adoptopenjdk.net/v2/info/releases/openjdk12?release=latest&openjdk_impl=openj

[2019-08-08 15:53] lumpfish commented on #175
Unfortunately https://github.com/AdoptOpenJDK/openjdk-api/pull/176 does not appear to have fixed this issue - https://api.adoptopenjdk.net/v2/info/releases/openjdk11?release=latest&os=mac&arch=x64&openjdk_impl=openj9&type=jdk&heap_size=normal still returns the jdk-11.0.4+11_openj9-0.15.1 build, not the jdk-11.0.4+11.2_openj9-0.15.1 build.

[2019-08-08 16:01] karianna commented on #175
@ParkerM would you be able to patch this again?

[2019-08-08 17:32] ParkerM commented on #175
Hm that's funky, yeah I'll take another look later today 👍.

[2019-08-09 01:03] ParkerM commented on #175
Ah, the data was getting re-sorted further down the chain using an outdated comparison function. I think this is fixed now in #177.

[2019-08-13 12:41] #175 closed

[2019-09-06 14:36] karianna opened #178 "Mac OS X installers aren't showing in the archive website (likely an API issue)"

[2019-09-06 14:37] karianna opened #179 "Enhance API to pick up Linux installers from artifactory"

[2019-09-08 13:16] imranzahid01 commented on #146
I am getting the same problem on FF 69
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.adoptopenjdk.net/v2/info/releases/openjdk12?release=latest&openjdk_impl=hotspot&. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).`

[2019-10-02 15:28] smlambert opened #182 "Change in results from API for jdk8 hotspot query"
The API url that testing used to use to pick up binaries no longer works (not sure if its because of the addition of extra binaries on that API), is there a better URL to use?

That query used to automatically download an SDK build: https://api.adoptopenjdk.net/v2/binary/nightly/openjdk8?openjdk_impl=hotspot&os=linux&arch=x64&release=latest&type=jdk&heap_size=normal

now returns:
Multiple binaries

[2019-10-08 14:33] #182 closed

[2019-10-22 18:57] Pr0methean opened #185 "Name resolution fails from Azure Pipelines"
Had this issue twice in a row on Azure Pipelines. Can't reproduce on my own workstation, so I suspect that the issue only affects IPv6. (My workstation's Internet connection is single-stack IPv4.)

Command:
[code]
Output:
[code]

[2019-10-22 22:17] Pr0methean commented on #185
Update: This now sometimes works with JDK11, but still consistently occurs with JDK13.

[2019-10-22 22:46] Pr0methean commented on #185
Downloading JDK13 only sometimes works, even when I bypass the API and use the final URL.

[2019-10-22 23:37] Pr0methean commented on #185
Update: Per the Slack discussion, this seems to have actually been an issue with AWS.

[2019-10-22 23:37] #185 closed

[2019-10-29 09:09] rhwood opened #188 "Unable to directly download an installer"
Could it be possible to add an API end point like the `binary` end point that downloads an installer instead of the tar.gz file if an installer is available?

[2019-10-29 10:08] gdams commented on #188
this is probably a feature that could be considered in V3 CC @johnoliver

[2019-11-27 08:46] bmhm opened #189 "Latest release does not show latest release for all platforms"
Hi,

at the  time of writing, we have `openjdk11 win x64 11.0.5+10.1` but `openjdk11 linux x64 11.0.5+10` (notice the missing  `.1` at the end).

That said, this api call will output those versions each:

[code]

The API spec says you can suppliy multiple values like so:
[code]

This will only output the latest version for windows, because it seems that version filtering is done first.

I think th

[2019-11-28 11:09] karianna commented on #189
@johnoliver probably worth checking v3, if it's solved there then we can close this as v3 will be released soon.

[2019-11-29 00:33] johnoliver commented on #189
This bug will not apply to v3 as v3 does not allow multiple parameters

[2019-11-29 13:22] karianna commented on #189
OK, if v3 comes out in the next couple of weeks we can close this and migrate folks.

[2019-12-31 17:17] sxa opened #190 "V2 API server still seems unstable"
Related: #35

We're still seeing quite a bit of instability (404 errors) when downloading via the API. We need this to be stable to avoid impacting customers.

I had a couple of cases where the website wasn't rendering the download parts, and our ansible playbook testing has been hitting 404s as well (e.g. https://ci.adoptopenjdk.net/view/work%20in%20progress/job/VagrantPlaybookCheck/OS=Win2012,la

[2019-12-31 17:18] sxa555 commented on #190
I believe @johnoliver increased the resources available to the API recently but that does not appear to have resolved the issues.

[2020-01-02 21:50] karianna commented on #190
@sxa555 - probably worth moving to v3 of the API now.

[2020-01-03 23:32] sxa555 commented on #190
Is it production ready now? The front of the api website documents V2 and says V3 is being worked on, but the README in the APi repo directs you to use V3

[2020-01-03 23:32] sxa555 commented on #190
Will test switching it over - just had another 404 from V2 at https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=CentOS6,label=vagrant/263/console

[2020-01-04 01:10] sxa555 commented on #190
FYI @willsparker since I suspect you've seen this a few times too :-)

[2020-01-04 07:09] karianna commented on #190
I'd say v3 is ready to use yeah, especially for internal usage.

[2020-01-06 08:08] Willsparker commented on #190
When I get a spare minute I'll test a branch that changes the `adoptopenjdk_install` URL to v3, on the `vagrantPlaybookCheck` job and link the results :-)

[2020-01-06 08:34] Willsparker commented on #190
Actually, scratch that, just saw @sxa555 has a PR in

[2020-01-06 12:22] johnoliver commented on #190
Yeah v3 is probably good enough for internal, given now we have a staging server setup so we can properly test the api before deployment. We also fixed an issue where due to a number of programs using the same github api tokens, they were draining the quota and causing some of these issues, this should mean that v2 will be more stable in the future.

[2020-02-20 15:05] piyush286 opened #193 "Access Old Nightly Builds from Adopt Build Website"
### Problem Description

Looking at https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9 for Linux x64, I noticed that the oldest build is from Jan 11, 2020.

We should be able to get some older nightly builds from a few months ago so that we can use those builds to narrow down regressions that might have been reported or investigated far away from when the original issue start

[2020-02-20 15:08] piyush286 opened #194 "Use Chronological Order to Display Builds"
The ordering of builds by date need some improvement since they aren't in chronological order as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/10422081/74947267-a0872f00-53c8-11ea-8b17-a09cbebdb342.png)

[2020-03-24 23:51] pshipton opened #195 "Make debugimage archives available via the API"
It would be useful to have downloads of the debug image archives via the API. Ideally the debugimage archives will be preserved for every build.

https://github.com/AdoptOpenJDK/openjdk-build/issues/1596 added debug image archives for OpenJ9 builds. Copying the contained debug-image folder over top of the jdk makes symbols available to greatly ease the task of debugging an issue with native code.

[2020-04-01 08:59] ingokegel opened #198 "V2 API is broken"
https://api.adoptopenjdk.net/v2/info/releases/openjdk11 (and also 12/13/14) is a 404.

[2020-04-01 09:41] karianna commented on #198
@ingokegel - please use our v3 API, v2 is now deprecated.

See the README in the root of this repo for details (https://github.com/AdoptOpenJDK/openjdk-api)

[2020-04-01 09:41] #198 closed

[2020-04-01 09:51] ingokegel commented on #198
I totally get that I'm not paying for any service and nor are my customers whose installations are now broken. So I have no right whatsover to complain when a free service breaks. But would it not be better to say that the API has been removed and not "deprecated"? This would minimize confusion and useless issues like the one I have created here.

[2020-04-01 10:20] karianna commented on #198
@ingokegel It's not been removed, we're just unlikely to spend much development effort on fixing issues with it when we have a better v3 API :-)

[2020-04-01 10:28] ingokegel commented on #198
Actually now it works again, so this was a temporary outage. I just had a lot of requests about this, so I thought it was related to the introduction of the v3 API. We will use the new API in install4j 8.0.6.

[2020-04-01 11:42] karianna commented on #198
Glad to hear it!  And thanks for making the effort to move to v3 - we're sure you'll love it!

[2020-04-01 12:16] karianna commented on #55
@sormuras - We've looked at the effort for this compared to the value for our end-users and at this stage won't be implementing this.  We'll investigate adding a pretty-print though to V3 though.

[2020-04-01 12:16] #55 closed

[2020-04-01 12:18] karianna commented on #75
Solved in v3 with Swagger - https://api.adoptopenjdk.net/swagger-ui

[2020-04-01 12:18] #75 closed

[2020-04-01 12:20] karianna commented on #95
Resolved in v3 API

[2020-04-01 12:20] #95 closed

[2020-04-01 12:20] #107 closed

[2020-04-01 12:21] karianna commented on #113
v3 should be returning consistent results.

[2020-04-01 12:21] #113 closed

[2020-04-01 12:21] karianna commented on #118
Open v3 ticket for this exists.

[2020-04-01 12:21] #118 closed

[2020-04-01 12:22] karianna commented on #132
v3 API resolved this (from the API perspective), some issues remain open in the build repo.

[2020-04-01 12:22] #132 closed

[2020-04-01 12:24] karianna commented on #133
V3 API resolves this.

[2020-04-01 12:24] #133 closed

[2020-04-01 12:24] karianna commented on #146
resolved in v3

[2020-04-01 12:24] #146 closed

[2020-04-01 12:24] karianna commented on #149
resolved in v3 API

[2020-04-01 12:24] #149 closed

[2020-04-01 12:26] karianna commented on #160
v3 does this.

[2020-04-01 12:26] #160 closed

[2020-04-01 12:30] #178 closed

[2020-04-01 12:32] #189 closed

[2020-04-01 12:37] karianna commented on #190
As discussed on the call, this is likely a rate-limiting issue and we can use the V3 API trick of backing off and using last modified.  Let's see if we can implement that patch here in V2 to stabilize it.

[2020-04-01 15:10] sormuras commented on #55
That should ease the parsing work on my end. 👍

[2020-04-02 14:16] karianna opened #199 "Add the capability to track how many V2 request we're getting so we can plan deprecation"

[2020-04-03 09:32] Eskibear commented on #190
Has v2 been removed?
[code]

Using nodejs client to send the request, from other location (to check if it's networking issue), I also got a 404 error.

[2020-04-03 11:36] sxa555 commented on #190
Great question @Eskibear!

We do not have a specific date at the moment - it's unlikely to be removed in the next few months though as there is still a significant amount of use of the V2 API and we're only just in the processes of announcing V3 properly (although many have already moved to it as it's been stable, and we've been using it ourselves for the past few months internally on the project

[2020-04-05 21:50] ParkerM commented on #199
I'd be happy to tackle this if you could provide some leads on available resources for persisting the data.

[2020-04-06 14:56] karianna commented on #199
@johnoliver or @gdams are you able to connect with @ParkerM and give him v2 Bootcamp?

[2020-04-07 08:13] ParkerM commented on #199
Here's a basic impl that uses MongoDB to persist a hit counter for each `/v2/` endpoint: https://github.com/AdoptOpenJDK/openjdk-api/compare/master...ParkerM:usage-stats

I tested it on an Atlas free tier instance and it seems stable enough. The v3 API already has a Mongo instance so hooking it up to that should be as simple as adding a collection and plugging the URL/credentials into `db.service.

[2020-04-09 08:05] bmhm commented on #189
Thanks, works just fine :)

[2020-04-18 22:10] ibauersachs commented on #190
At least today, v3 is also unstable. Getting a lot of timeouts and now even 503s.

[2020-04-20 11:31] johnoliver commented on #190
@ibauersachs No idea why there would be instability for v3, there were a few restarts on friday due to updates in relation to the release but should not have been for significant amounts of time, do you know roughly what time you were getting these timeouts?

[2020-04-20 11:39] ibauersachs commented on #190
That was around the time I left the above comment, so roughly between 20:00 and 22:00 UTC on April 17.

By release I assume you mean the jdk8u252/jdk11.0.7 etc. updates? I would definitely not expect _any_ downtime on the API for this.

[2020-04-20 11:59] johnoliver commented on #190
We had some issues with incorrect classification of the new ea releases of openj9 arch that caused us to have to do a redeploy of the api, that will have caused some downtime

[2020-10-19 09:19] karianna commented on #190
@johnoliver - I think the v2 API has been stable for quite some time, can we close this now?

[2020-11-08 17:18] nvuillam opened #208 "Deactivated V2 api server ?"
Some days ago, it still worked, but now it seems that it always returns "Not found"

Ex: https://api.adoptopenjdk.net/v2/info/releases/openjdk11?type=jdk&openjdk_impl=hotspot&release=latest&os=linux&arch=x64

![image](https://user-images.githubusercontent.com/17500430/98471740-ab038600-21ee-11eb-913c-1cd66cd0fa91.png)

I am a user of [njre](https://github.com/raftario/njre) which is based on v2 ap

[2020-11-09 15:03] nvuillam commented on #208
@karianna the error remains... please can we reopen the issue until it is fixed in production ?
Thanks

[2020-11-09 18:49] karianna commented on #208
I get a response:

[code]

Maybe check brower cache?

Cheers,
Martijn

On Mon, 9 Nov 2020 at 15:03, Nicolas Vuillamy <notifications@github.com>
wrote:

[2020-11-09 19:08] nvuillam commented on #208
Locally i still don't have response
![image](https://user-images.githubusercontent.com/17500430/98584865-bc1fc600-22c6-11eb-9655-4d2d361f8fd0.png)

Same from CircleCI servers, as you can see there
-> https://app.circleci.com/pipelines/github/nvuillam/node-java-caller/76/workflows/6f4d2f7d-fbd5-47a0-b56a-e3a9c52cc180/jobs/277

Is there some restrictions about access/authentication that weren't ther

[2020-11-09 19:38] karianna commented on #208
@nvuillam Will continue to look!  As an aside we will be removing this API in the future, have you looked at moving to our v3 API?

[2020-11-09 19:45] ParkerM commented on #208
Probably related to #198, #190

I think the issue is because the V2 API uses a local filesystem cache, so whenever it restarts it forces a full refresh which basically crawls every GitHub release, which takes a longer and longer time as the number of releases grow. While the full refresh is running then a 404 will be returned for any not-yet-cached releases.

[2020-11-09 20:55] joschi commented on #208
@nvuillam As you can see from the output of your command, you're not quoting the URL correctly and instead created 4 background jobs in your shell.

The URL you've been requesting is `https://api.adoptopenjdk.net/v2/info/releases/openjdk11?type=jdk`. Everything after the first (and each following) ampersand (`&`) is creating a background job.

See https://linuxhandbook.com/run-process-background/

[2020-11-09 20:58] joschi commented on #208
@karianna There seems to be some problem with requesting OpenJDK 11 data from the API specifically.

https://api.adoptopenjdk.net/v2/info/releases/openjdk8 and https://api.adoptopenjdk.net/v2/info/releases/openjdk11 are working, but https://api.adoptopenjdk.net/v2/info/releases/openjdk11 is not working.

[2020-11-09 21:10] karianna commented on #208
Yeah, it's the recent 11.0.9.1 release (upstream) that broke semver and has
been causing a bit of chaos.  Hopefully, we'll get this sorted in the next
24 hours or so.  I do recommend a migration plan to v3 regardless :-)

Cheers,
Martijn

On Mon, 9 Nov 2020 at 20:58, Jochen Schalanda <notifications@github.com>
wrote:

[2020-11-09 22:18] nvuillam commented on #208
@karianna > I'm not a contributor to [njre](https://github.com/raftario/njre) , just a dependent user ^^
If I had time i could check to migrate to V3... but for now I unfortunately have more urgent priorities ^^
I just posted an [issue](https://github.com/raftario/njre/issues/15) there on the repo to see if someone can do the migration to V3

@joschi > The curl bad example was just a typo, sorry ^

[2020-11-10 07:15] joschi commented on #208
@nvuillam It's working again:
[code]

[2020-11-10 09:10] nvuillam commented on #208
@joschi sorry friend... but still not from my local network and from Circle CI servers :(

https://app.circleci.com/pipelines/github/nvuillam/node-java-caller/76/workflows/4e02876c-b9b5-45ab-b5f4-0c52bddb6cbb/jobs/280 (job runned just now, full of "Not Found" responses)

Same with curl
![image](https://user-images.githubusercontent.com/17500430/98653149-f75cdc00-233c-11eb-9cf2-da96e9773df5.png)

[2020-11-10 09:39] joschi commented on #208
Interesting. It seems to be gone again. 🙄

[2020-11-11 10:13] karianna opened #209 "Get Circle CI to move to V3 API"

[2020-11-11 10:53] karianna commented on #199
@gdams - Will App Insights give us this functionality?  Else we could look to add ParkerM's feature

[2020-11-11 11:08] joschi commented on #199
Would it be possible to retrieve this information from HTTP access logs to `https://api.adoptopenjdk.net/v2/*`, assuming that these are recorded?

[2020-11-11 13:36] karianna commented on #208
https://api.adoptopenjdk.net/v2/info/releases/openjdk11 is back - it tasks 2-3 to refresh the cache after a service restart - we're looking at a fix for this.

[2020-11-11 13:36] #208 closed

[2020-11-11 13:39] karianna opened #211 "Have the v2 API read in the cache from a data store (possibly v3 DB) to avoid losing its in memory cache on restarts"
Building v2 cache takes 2-3 hours now.

[2020-11-13 07:40] Eskibear commented on #190
@karianna I just tried, v2 API is even more unstable than before, especially for `openjdk11`. Can anyone take a look?

[code]

[2020-11-13 15:21] karianna commented on #190
Have landed a PR to only refresh every 12 hours - but this will need a proper fix on Monday.

[2020-11-13 16:56] pdefert commented on #208
the problem is still here
[https://api.adoptopenjdk.net/v2/info/releases/openjdk8?openjdk_impl=hotspot&os=windows&arch=x64&type=jre&release=latest]

it's intermittent

V3 does not works as well too

[2020-11-13 22:45] karianna commented on #208
We deployed another emergency release this evening, please do try again

[2020-11-13 22:54] nvuillam commented on #208
Some work, some not
https://app.circleci.com/pipelines/github/nvuillam/node-java-caller/76/workflows/1a3b7388-06ce-4d40-a4aa-d9a17fa650ee

Maybe a max number of calls from the same ip ?

[2020-11-14 12:26] karianna commented on #190
OK so last night's PR did the trick to stabilize, it's roughly an 8-sec outage every 15 mins for the refresh cycle.  But we now only pull back the last 50 days of results.  More work will be done this week to try and get it to point to the V3 backend cache.

Again *please* do upgrade to V3 as soon as you can.

[2020-11-14 12:39] karianna commented on #208
Not from the end consumer no.  The API acts as a proxy so all requests to GitHub come from it (and we have inbuilt rate limiting and throttling when we get abuse messages back.

We are still running an 8sec outage every 15 mins on the refresh cycle so I suspect you caught that.

We're looking to implement a more permanent data store fix on Monday.

@nvuillam Are you able to connect us to the autho

[2020-11-14 12:45] nvuillam commented on #208
@karianna > The owner transferred me the ownership, so yes I can connect you to me :D

I obviously plan to migrate to V3 soon :)

[2020-11-14 12:46] karianna commented on #208
Oh, amazing :-) - https://api.adoptopenjdk.net/swagger-ui/ is your gateway :-)

[2020-11-26 11:19] gdams commented on #211
closing - we're now using the graphql server

[2020-11-26 11:19] #211 closed

[2020-11-26 11:20] gdams commented on #199
@johnoliver Can we now verify that we can identify V2 requests coming from the graphql server?

[2020-11-26 11:21] gdams commented on #190
This should this resolved now that we have no dependency of the Octokit API data anymore

[2020-11-26 11:21] #190 closed

[2021-03-18 09:29] joeyleeeeeee97 opened #221 "Add Dragonwell in openjdk-api/v3/binary"
Could we place it under openjdk?